workflows/Google Drive Upload (Daniel).json
{
  "id": 22,
  "name": "Google Drive Upload (Daniel)",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "binaryData": true,
        "binaryPropertyName": "={{ $json['settings_binaryProperty'] }}",
        "name": "={{ $json['settings_filePath'] }}",
        "parents": [
          "={{ $json['settings_googleDriveParent'] }}"
        ],
        "options": {}
      },
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        600,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7",
          "name": "D Google Drive"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "settings_googleDriveParent",
              "value": "={{ $json['settings_googleDriveParent'] }}"
            },
            {
              "name": "settings_filePath",
              "value": "={{ $json['settings_filePath'] }}"
            },
            {
              "name": "settings_binaryProperty",
              "value": "={{ $json['settings_binaryProperty'] }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        420,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-04-26T08:01:43.342Z",
  "updatedAt": "2022-04-26T08:53:41.527Z",
  "settings": {},
  "staticData": null
}