workflows/Orlen.json
{
  "id": 3,
  "name": "Orlen",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": true,
        "additionalFields": {
          "format": "resolved",
          "q": "from:(orlenpay@orlen.pl) has:attachment is:unread"
        }
      },
      "name": "Orlen Invoice",
      "type": "n8n-nodes-base.gmail",
      "position": [
        780,
        300
      ],
      "typeVersion": 1,
      "retryOnFail": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "5",
          "name": "D Gmail account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "binaryData": true,
        "binaryPropertyName": "attachment_0",
        "name": "=Orlen {{$binary.attachment_0.directory}}.{{$binary.attachment_0.fileExtension}}",
        "resolveData": true,
        "parents": [
          "={{ $json.folderId }}"
        ],
        "options": {}
      },
      "name": "Upload Invoice to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1500,
        280
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messageLabel",
        "operation": "remove",
        "messageId": "={{$node[\"Orlen Invoice\"].json[\"id\"]}}",
        "labelIds": [
          "UNREAD"
        ]
      },
      "name": "Mark as Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        1680,
        280
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "5",
          "name": "D Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        1320,
        280
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "channel": "n8n",
        "text": "=Kapitanie!\nDodano Orlen {{$node[\"Orlen Invoice\"].binary.attachment_0.directory}} do Dysku Google",
        "attachments": [],
        "otherOptions": {}
      },
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1860,
        280
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "6",
          "name": "n8n Slack account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "6"
      },
      "name": "Get Current Invoice Folder Id",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        680,
        0
      ],
      "disabled": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "date",
              "value": "={{$json[\"date\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        960,
        200
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 6
            }
          ]
        }
      },
      "name": "Every 6h",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        600,
        460
      ]
    },
    {
      "parameters": {
        "functionCode": "const newItems = [];\n\nconst parseDate = (dateRaw) => {\n  var date = new Date(dateRaw);\n  var year = date.getFullYear();\n  var month = date.getMonth() + 1;\n  var day = date.getDate();\n\n  if(month < 10) {\n    month = \"0\" + month;\n  }\n\n  return {\n    year: year,\n    month: month,\n    day: day,\n  };\n};\n\nfor (item of items) {\n  newItems.push({\n    json: parseDate(item.json.date)\n  });\n}\n\nreturn newItems;"
      },
      "name": "Current date",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1280,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "list",
        "queryFilters": {
          "mimeType": [
            {
              "mimeType": "application/vnd.google-apps.folder"
            }
          ],
          "name": [
            {
              "operation": "is",
              "value": "={{$json[\"year\"]}}"
            }
          ]
        },
        "options": {
          "fields": [
            "id"
          ]
        }
      },
      "name": "Get Year folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        1460,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "list",
        "useQueryString": true,
        "queryString": "='{{$json[\"id\"]}}' in parents and name = '{{$node[\"Current date\"].json[\"month\"]}}'",
        "options": {
          "fields": [
            "id"
          ]
        }
      },
      "name": "Get Month folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        1640,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "folderId",
              "value": "={{$json[\"id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1820,
        0
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "date",
              "value": "={{ $json.date || new Date() }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Settings1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1100,
        0
      ]
    }
  ],
  "connections": {
    "Orlen Invoice": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Invoice to Google Drive": {
      "main": [
        [
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upload Invoice to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Read": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Orlen Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Settings1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 6h": {
      "main": [
        [
          {
            "node": "Orlen Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Current date": {
      "main": [
        [
          {
            "node": "Get Year folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Year folder": {
      "main": [
        [
          {
            "node": "Get Month folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Month folder": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings1": {
      "main": [
        [
          {
            "node": "Current date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-04-11T17:11:34.040Z",
  "updatedAt": "2022-04-20T13:30:53.670Z",
  "settings": {
    "timezone": "Europe/Warsaw",
    "saveExecutionProgress": "DEFAULT"
  },
  "staticData": null
}