workflows/UPC.json
{
  "id": 4,
  "name": "UPC",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 23,
              "minute": 45
            }
          ]
        }
      },
      "name": "Every 23:45",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        260,
        460
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "channel": "n8n",
        "text": "=Kapitanie!\nDodano fakturę UPC {{$node[\"UPC Invoice\"].binary.attachment_0.fileName}} do Firma/{{$node[\"Current date\"].json[\"year\"]}}/{{$node[\"Current date\"].json[\"month\"]}}\nLink do płatności: {{$node[\"HTML Extract\"].json[\"paymentUrl\"]}}",
        "attachments": [],
        "otherOptions": {}
      },
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1880,
        400
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "6",
          "name": "n8n Slack account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": true,
        "additionalFields": {
          "format": "resolved",
          "q": "from:(elektroniczna_faktura@mailing.upc.com.pl) has:attachment is:unread"
        }
      },
      "name": "UPC Invoice",
      "type": "n8n-nodes-base.gmail",
      "position": [
        440,
        300
      ],
      "typeVersion": 1,
      "credentials": {
        "gmailOAuth2": {
          "id": "5",
          "name": "D Gmail account"
        }
      }
    },
    {
      "parameters": {
        "dataPropertyName": "html",
        "extractionValues": {
          "values": [
            {
              "key": "paymentUrl",
              "cssSelector": "[href*=\"ebok.upc\"]",
              "returnValue": "attribute",
              "attribute": "href"
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        620,
        420
      ]
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        1700,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "binaryData": true,
        "binaryPropertyName": "attachment_0",
        "name": "=UPC {{$binary.attachment_0.fileName}}",
        "resolveData": true,
        "parents": [
          "={{ $json.folderId }}"
        ],
        "options": {}
      },
      "name": "Upload Invoice to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1340,
        280
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7",
          "name": "D Google Drive"
        }
      }
    },
    {
      "parameters": {
        "resource": "messageLabel",
        "operation": "remove",
        "messageId": "={{$node[\"UPC Invoice\"].json[\"id\"]}}",
        "labelIds": [
          "UNREAD"
        ]
      },
      "name": "Mark as Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        1520,
        280
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "5",
          "name": "D Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        1160,
        280
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "path",
              "value": "={{ '/Firma/' + $json.year + '/' + $json.month + '/' }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        800,
        180
      ]
    },
    {
      "parameters": {
        "functionCode": "const newItems = [];\n\nconst parseDate = (dateRaw) => {\n  var date = new Date(dateRaw);\n  var year = date.getFullYear();\n  var month = date.getMonth() + 1;\n  var day = date.getDate();\n\n  if(month < 10) {\n    month = \"0\" + month;\n  }\n\n  return {\n    year: year,\n    month: month,\n    day: day,\n  };\n};\n\nfor (item of items) {\n  newItems.push({\n    json: parseDate(item.json.date)\n  });\n}\n\nreturn newItems;"
      },
      "name": "Current date",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        620,
        180
      ]
    },
    {
      "parameters": {
        "workflowId": "6"
      },
      "name": "Get GDrive FolderId by Path",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        980,
        180
      ]
    }
  ],
  "connections": {
    "Every 23:45": {
      "main": [
        [
          {
            "node": "UPC Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "UPC Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPC Invoice": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          },
          {
            "node": "Current date",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Upload Invoice to Google Drive": {
      "main": [
        [
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Read": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upload Invoice to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Get GDrive FolderId by Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Current date": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GDrive FolderId by Path": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-04-11T17:40:04.328Z",
  "updatedAt": "2022-04-26T09:51:53.411Z",
  "settings": {
    "timezone": "Europe/Warsaw",
    "saveExecutionProgress": "DEFAULT"
  },
  "staticData": null
}