workflows/Upload music to Google Drive.json
{
  "id": 13,
  "name": "Upload music to Google Drive",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "filePath": "={{$json[\"fullpath\"]}}"
      },
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        1140,
        300
      ]
    },
    {
      "parameters": {
        "command": "cd ~/.youtube-downloads\nls -1 *.mp3"
      },
      "name": "List .youtube-downloads",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const newItems = [];\nfor (file of items[0].json.stdout.split('\\n')) {\n  newItems.push({\n    json: {\n      filename: file,\n      fullpath: '/home/dbarwikowski/.youtube-downloads/' + file\n    }\n  });\n}\nreturn newItems;"
      },
      "name": "Parse stdout",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "1 at a time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "binaryData": true,
        "name": "={{$json[\"filename\"]}}",
        "parents": [
          "148Mylq0UZAZ2dRMfnjEJKz1OD4xGK7L7"
        ],
        "options": {}
      },
      "name": "Uploud to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        1320,
        300
      ],
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "command": "=cd ~/.youtube-downloads\nrm \"{{$json[\"name\"]}}\""
      },
      "name": "Remove uploaded file",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        }
      },
      "name": "Every xx:00",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        400,
        400
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "List .youtube-downloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Uploud to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List .youtube-downloads": {
      "main": [
        [
          {
            "node": "Parse stdout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse stdout": {
      "main": [
        [
          {
            "node": "1 at a time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 at a time": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Uploud to Google Drive": {
      "main": [
        [
          {
            "node": "Remove uploaded file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove uploaded file": {
      "main": [
        [
          {
            "node": "1 at a time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every xx:00": {
      "main": [
        [
          {
            "node": "List .youtube-downloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-04-14T10:55:37.007Z",
  "updatedAt": "2022-04-14T12:24:13.541Z",
  "settings": {
    "timezone": "Europe/Warsaw",
    "saveExecutionProgress": "DEFAULT"
  },
  "staticData": null
}